.dashboard-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 60%;
	padding: 3rem 0;
	border-top: 0.5px solid #92a7aa;
}

.dashboard-main .button-style {
	padding: 0.8rem 2rem;
	font-size: 1rem;
}

.dashboard-welcome-message {
	align-self: flex-start;
	font-size: 1.4rem;
	padding-bottom: 2rem;
	line-height: 1;
}

.user-name {
	color: white;
	font-family: 'DM Mono';
}

.dashboard-legend {
	display: flex;
	background-color: #c5feaa;
	width: 70%;
	height: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dashboard-legend-items {
	width: 12.5%;
}

.dashboard-legend-text {
	color: black;
	font-size: 14px;
	font-family: Roboto;
	border-right: 1px solid gray;
	text-align: center;
	/* margin-top: 10px; */
}

/* Accordion styles */
.accordions {
	width: 100%;
	overflow: hidden;
	/* border-radius: 1.2rem; */
}

.accordion-input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.fa-plus,
.fa-minus {
	background-color: #c5feaa;
	color: #062929;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	padding: 0.7rem;
	font-size: 1rem;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	display: flex;
}

.accordion-header {
	padding: 1rem 0 1rem 0;
	background: #062929;
	font-weight: bold;
	margin-bottom: 1rem;
	border-radius: 1.2rem;
}

.ant-collapse-item.accordion-header {
	border-radius: 1.2rem !important;
}

.ant-collapse-header-text {
	display: flex;
	align-self: center;
	font-size: 1.2rem;
}

.ant-collapse-expand-icon {
	display: flex;
	align-self: center;
	padding: 0 0.5rem;
}

.ant-collapse-content-box {
	height: 30rem;
}

.accordion-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	transition: all 0.2s;
}

.accordion-header-items {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12.5%;
	margin-top: 14px;
}

.accordion-header-items:first-child {
	justify-content: flex-start;
	padding-left: 1.8rem;
}

.accordion-header-text {
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 500;
}

.accordion-header-text:first-child {
	justify-content: center;
	text-align: center;
}

.accordion-button {
	margin-right: 1rem;
	cursor: pointer;
}

input:checked ~ .accordion-header {
	border-radius: 1.2rem 1.2rem 0 0;
}

input:checked ~ .accordion-content {
	max-height: 100vh;
	padding: 0;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

/* header nav links on small screens */
@media (max-width: 767px) {
	.header-login-nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.hide {
		display: none;
	}

	.dashboard-welcome-message {
		font-size: 1.4rem;
	}

	.dashboard-main {
		padding: 2rem 0 4rem;
	}
}

/* mobile */
@media only screen and (max-width: 570px) {
	.dashboard-main {
		width: 80%;
	}

	.ant-collapse-content-box {
		height: 20rem;
	}
}

/* tablet - medium screen */
@media (min-width: 768px) and (max-width: 1299px) {
	.dashboard-main {
		width: 80%;
	}

	.hide {
		display: none;
	}

	.ant-collapse-content-box {
		height: 20rem;
	}
}

/* large screen */
@media (min-width: 1599px) {
	.dashboard-main {
		width: 60%;
	}
}
