.dashboard-main {
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-main .button-style {
  padding: 0.8rem 2rem;
  font-size: 1rem;
}

.dashboard-welcome-message {
  font-size: 60px;
  text-align: center;
  line-height: 1;
}

.dashboard-legend {
  background-color: #c5feaa;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard-legend-items {
  width: 12.5%;
}

.dashboard-legend-text {
  color: black;
  font-size: 12px;
  border-right: 1px solid gray;
  text-align: center;
  margin-top: 10px;
}

.user-name {
  color: #c5feaa;
  margin-left: -1.2rem;
}

/* Accordion styles */
.accordions {
  width: 70%;
  overflow: hidden;
}

.accordion-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: #2c3e50;
  font-weight: bold;
}

.accordion-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

.accordion-header-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  margin-top: 10px;
}

.accordion-header-items:first-child {
  justify-content: flex-start;
}

.accordion-header-text {
  font-size: 18px;
}

.accordion-button {
  margin-right: 4rem;
  cursor: pointer;
}

input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}

/* header nav links on small screens */
@media (max-width: 767px) {
  .header-login-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
