// color variables
$primary: #062929;
$secondary: #01070b;
$accent: #c5feaa;
$accent-darker: #48f992;
$text: #92A7AA;
$titles: #ffffff;
$input: #0e1522;
$gradient: linear-gradient(90deg, rgba(237,255,125,1), rgba(73,249,146,1));