@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.DivFeaturesContenitor {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.DivSubClass {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    align-items: center;
    padding: 2rem 0;
    background-image: radial-gradient(18% 45% at 82%, #062324, transparent);
}

.DivSubClassReverse {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin: auto;
    align-items: center;
    padding: 2rem 0;
    background-image: radial-gradient(18% 50% at 17%, #062324, transparent);
}

img {
    width: 30%;
}

body {
    background-color: #062929;
    color: #92A7AA;
}



/* .divprova1 {
    border: solid 10px red;
}

.divprova2 {
    border: solid 10px green 
}
 */

 #contenitor {
     align-items: center;
     gap: 5rem;
 }

 .FeaturesStyle {
     text-align: left;
     font-family: Roboto;
     font-size: 1rem;
     line-height: 1.5rem;
     
 }

 h1 {
    color: #c5feaa;
    font-family: DM Mono;
    line-height: 3.2rem;
    font-size: 2.4rem;
}

 @media only screen and (max-width: 768px) {         

    section { 
        flex-wrap: wrap;
        width: 100%;
        padding: 0rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    img {
        width: 70%;
    }

    #contenitor {
        gap: 3rem;
    }

    .DivSubClass {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-image: radial-gradient(48% 15% at 50% 78%, #052122, transparent);
    }
    
    .DivSubClassReverse {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-image: radial-gradient(48% 25% at 50% 78%, #052122, transparent);

    }
}

@media (min-width: 768px) and (max-width: 1299px) {
    .DivSubClass {
        width: 80%;
    }
    
    .DivSubClassReverse {
        width: 80%;
    }
}