@import './variables';

footer {
    background: rgb(7, 62, 62); // fallback bg color
    background-image: 
        radial-gradient(50% 160% at 50%, rgba(2, 23, 24, 0.9), rgb(1, 4, 9)), 
        url('/src/assets/trading-vector.svg');
    padding: 4rem 0;
}

.footer-grid {
    width: 70%;
    margin: auto;

    h2 {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }
}

.footer-col1 {
    display: flex;
    flex-flow: column wrap;
    
        .logo {
            color: $accent;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
    height: 3.5rem;
    padding-top: 1%;
    border: solid 1px $accent;
    border-radius: 0.5rem;

        i {
            font-size: 1.4rem;
            color: $accent;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $titles;
            }
        }
}

.newsletter {
    display: flex;
    align-items: center;
    
        input {
            width: 10rem;
        }
}

input[type="text"], input[type="email"], #complex-form textarea {
    background-color: $input;
    color: $text;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &::placeholder {
        color: $text;
        padding-left: 0.5rem;
    }

    &:focus {
        outline: solid 1px $accent;
        padding-left: 0.5rem;
        color: $text;
    }
}

.newsletter-submit {
    border: solid 1px $accent;
    border-radius: 0.5rem;
    background: transparent;
    height: 100%;
    padding: 0.5rem 0.9rem;
    transition: all 0.2s ease-in-out;

    &:hover, &:active, &:visited, &:focus {
        background: $gradient;
        border: solid 1px $accent;

        i {
            color: $input;
        }
    }

    i {
        color: $accent;
        transition: all 0.2s ease-in-out;
    }
}

.footer-disclaimer {
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    font-size: 0.7rem;

    p {
        opacity: 0.6;
    }
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;

    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 0.8rem;
    border-top: solid 0.5px rgba(197, 254, 170, 0.2);
}

@media (max-width: 767px) {
    footer {
        padding: 4rem 2rem;
        background-image: 
            radial-gradient(100% 50% at 50%, rgba(2, 23, 24, 0.9), rgb(1, 4, 9)),
            url('/src/assets/trading-vector.svg'); 
    }

    .newsletter input {
        width: 13rem;
    }

    .footer-grid, .footer-disclaimer, .footer-copyright {
        width: 100% !important;
    }

    .footer-grid h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    footer {
        background-image: radial-gradient(60% 60% at 50%, rgba(2, 23, 24, 0.9), rgb(1, 4, 9)),
    }
}