@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
footer {
  background: rgb(7, 62, 62);
  background-image: radial-gradient(50% 160% at 50%, rgba(2, 23, 24, 0.9), rgb(1, 4, 9)), url("/src/assets/trading-vector.svg");
  padding: 4rem 0;
}

.footer-grid {
  width: 70%;
  margin: auto;
}
.footer-grid h2 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.footer-col1 {
  display: flex;
  flex-flow: column wrap;
}
.footer-col1 .logo {
  color: #c5feaa;
  font-size: 2rem;
}
.footer-col1 p {
  font-size: 1rem;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 3.5rem;
  padding-top: 1%;
  border: solid 1px #c5feaa;
  border-radius: 0.5rem;
}
.social-container i {
  font-size: 1.4rem;
  color: #c5feaa;
  transition: color 0.2s ease-in-out;
}
.social-container i:hover {
  color: #ffffff;
}

.newsletter {
  display: flex;
  align-items: center;
}
.newsletter input {
  width: 10rem;
}

input[type=text], input[type=email], #complex-form textarea {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, #complex-form textarea::-moz-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, #complex-form textarea:-ms-input-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]::placeholder, input[type=email]::placeholder, #complex-form textarea::placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:focus, input[type=email]:focus, #complex-form textarea:focus {
  outline: solid 1px #c5feaa;
  padding-left: 0.5rem;
  color: #92A7AA;
}

.newsletter-submit {
  border: solid 1px #c5feaa;
  border-radius: 0.5rem;
  background: transparent;
  height: 100%;
  padding: 0.5rem 0.9rem;
  transition: all 0.2s ease-in-out;
}
.newsletter-submit:hover, .newsletter-submit:active, .newsletter-submit:visited, .newsletter-submit:focus {
  background: linear-gradient(90deg, rgb(237, 255, 125), rgb(73, 249, 146));
  border: solid 1px #c5feaa;
}
.newsletter-submit:hover i, .newsletter-submit:active i, .newsletter-submit:visited i, .newsletter-submit:focus i {
  color: #0e1522;
}
.newsletter-submit i {
  color: #c5feaa;
  transition: all 0.2s ease-in-out;
}

.footer-disclaimer {
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  font-size: 0.7rem;
}
.footer-disclaimer p {
  opacity: 0.6;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 0.8rem;
  border-top: solid 0.5px rgba(197, 254, 170, 0.2);
}

@media (max-width: 767px) {
  footer {
    padding: 4rem 2rem;
  }

  .newsletter input {
    width: 13rem;
  }

  .footer-grid, .footer-disclaimer, .footer-copyright {
    width: 100% !important;
  }

  .footer-grid h2 {
    font-size: 1.3rem;
  }
}
* {
  font-family: Roboto;
  color: #92A7AA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DM Mono;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

a {
  color: #92A7AA;
}
a:hover {
  color: #c5feaa;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  padding: 0;
}

li {
  line-height: 2.2rem;
}

input[type=text], input[type=email], #complex-form textarea {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, #complex-form textarea::-moz-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, #complex-form textarea:-ms-input-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]::placeholder, input[type=email]::placeholder, #complex-form textarea::placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:focus, input[type=email]:focus, #complex-form textarea:focus {
  outline: solid 1px #c5feaa;
  padding-left: 0.5rem;
  color: #92A7AA;
}/*# sourceMappingURL=footer.css.map */