@import './variables';

.contact-btn {
    position: fixed;
    bottom: 10%;
    right: 6.5%;
    margin: 0;
    height: 3rem;

    padding: 0.5rem 2rem;
    background: $gradient;
    border: solid 1px $secondary;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #052323,
             0px 0px 10px #072f2f;

    transition: all 0.2s ease-in-out;

    &:hover, &:active, &:visited, &:focus {
        background: $primary;
        border: solid 1px $accent;

        span {
            color: $accent;
        }
    }

        span {
            color: $primary;
            text-shadow: none;
            font-weight: 500;
        }
}