.DivFeaturesContenitor {
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.DivSubClass {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.DivSubClassReverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

img {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
    
}

body {
    background-color: #062929;
    color: #92A7AA
}

h1 {
    color: #ffffff
}

/* .divprova1 {
    border: solid 10px red;
}

.divprova2 {
    border: solid 10px green 
}
 */

 div {
     align-items: center;
 }

 section {
     text-align: center;
 }

 @media only screen and (max-width: 768px) {         

    section { 
      flex-wrap: wrap;
     width: 100%;
    }

    img {
        width: 50%;
        padding: 10px;
        margin: 10px;
        border-radius: 10%;
    }

    .DivSubClass {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px
    }
    
    .DivSubClassReverse {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }
}