@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
footer {
  background: rgb(6, 41, 41);
  background-image: radial-gradient(circle, rgba(6, 41, 41, 0.9) 0%, rgba(1, 7, 11, 0.9) 72%), url("/src/images/trading-vector.svg");
  padding: 4rem 6rem;
}

.footer-col1 {
  display: flex;
  flex-flow: column wrap;
}
.footer-col1 .logo {
  color: #c5feaa;
  font-size: 2rem;
}
.footer-col1 p {
  font-size: 1rem;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 3.5rem;
  padding-top: 1%;
  border: solid 1px #c5feaa;
  border-radius: 0.5rem;
}
.social-container i {
  font-size: 1.4rem;
  color: #c5feaa;
  transition: color 0.2s ease-in-out;
}
.social-container i:hover {
  color: #ffffff;
}

.ant-input-affix-wrapper {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input[type=text], input[type=email], input[type=password], #complex-form textarea {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, #complex-form textarea::-moz-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, #complex-form textarea:-ms-input-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]::placeholder, input[type=email]::placeholder, #complex-form textarea::placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:focus, input[type=email]:focus, #complex-form textarea:focus {
  outline: solid 1px #c5feaa;
  padding-left: 0.5rem;
  color: #92A7AA;
}

.ant-input-group-addon:first-child {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  border-right: 1px solid white;
}

.newsletter-submit {
  border: solid 1px #c5feaa;
  border-radius: 0.5rem;
  background: transparent;
  height: 100%;
  padding: 0.5rem 0.9rem;
  transition: all 0.2s ease-in-out;
}
.newsletter-submit:hover, .newsletter-submit:active, .newsletter-submit:visited, .newsletter-submit:focus {
  background: linear-gradient(90deg, rgb(237, 255, 125), rgb(73, 249, 146));
  border: solid 1px #c5feaa;
}
.newsletter-submit:hover i, .newsletter-submit:active i, .newsletter-submit:visited i, .newsletter-submit:focus i {
  color: #0e1522;
}
.newsletter-submit i {
  color: #c5feaa;
  transition: all 0.2s ease-in-out;
}

.footer-disclaimer {
  padding-top: 2rem;
  font-size: 0.7rem;
}
.footer-disclaimer p {
  opacity: 0.6;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 0.8rem;
  border-top: solid 0.5px rgba(197, 254, 170, 0.2);
}

@media (max-width: 767px) {
  footer {
    padding: 4rem 2rem;
  }
}
.button-style, .form-button, .contact-btn {
  padding: 0.5rem 2rem;
  background: linear-gradient(90deg, rgb(237, 255, 125), rgb(73, 249, 146));
  border: solid 1px #01070b;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #052323, 0px 0px 10px #072f2f;
  transition: all 0.2s ease-in-out;
}
.button-style:hover, .form-button:hover, .contact-btn:hover, .button-style:active, .form-button:active, .contact-btn:active, .button-style:visited, .form-button:visited, .contact-btn:visited, .button-style:focus, .form-button:focus, .contact-btn:focus {
  background: #062929;
  border: solid 1px #c5feaa;
}
.button-style:hover span, .form-button:hover span, .contact-btn:hover span, .button-style:active span, .form-button:active span, .contact-btn:active span, .button-style:visited span, .form-button:visited span, .contact-btn:visited span, .button-style:focus span, .form-button:focus span, .contact-btn:focus span {
  color: #c5feaa;
}
.button-style span, .form-button span, .contact-btn span {
  color: #062929;
  text-shadow: none;
  font-weight: 500;
}

.contact-btn {
  position: fixed;
  bottom: 10%;
  right: 6.5%;
  margin: 0;
  height: 3rem;
}

.ant-modal-content, .ant-modal-header {
  background: #062929;
  border-radius: 1rem;
  border: none;
  padding: 5%;
}

.ant-modal-content {
  background: radial-gradient(circle, rgb(6, 41, 41) 21%, rgb(1, 7, 11) 100%);
  background-clip: padding-box;
  border: solid 1px #c5feaa;
  border-radius: 1rem;
}
.ant-modal-content:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(90deg, rgba(237, 255, 125, 0.8), rgba(73, 249, 146, 0.8));
}

.ant-modal-header {
  background-color: transparent;
}

.ant-modal-title {
  font-family: DM Sans;
  color: #ffffff;
  font-size: 1.8rem;
}

.ant-modal-body {
  padding-bottom: 0;
}

.ant-modal-footer {
  border: none;
  border-top: none;
  padding: 24px;
}

.ant-input-textarea-show-count.ant-input-textarea-in-form-item::after {
  color: #92A7AA;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-family: DM Sans;
}

.form-button {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1.5rem 3rem;
}
.form-button:hover i {
  color: #c5feaa;
}
.form-button span {
  font-size: 0.9rem;
}
.form-button i {
  color: #062929;
  margin-left: 0.5rem;
}

/* * {
  font-family: Roboto;
  color: #92A7AA;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: DM Mono;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

a {
  color: #92A7AA;
}
a:hover {
  color: #c5feaa;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  padding: 0;
}

li {
  line-height: 2.2rem;
}

input[type=text], input[type=email], input[type=password] #complex-form textarea {
  background-color: #0e1522;
  color: #92A7AA;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, #complex-form textarea::-moz-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, #complex-form textarea:-ms-input-placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]::placeholder, input[type=email]::placeholder, #complex-form textarea::placeholder {
  color: #92A7AA;
  padding-left: 0.5rem;
}
input[type=text]:focus, input[type=email]:focus, #complex-form textarea:focus {
  outline: solid 1px #c5feaa;
  padding-left: 0.5rem;
  color: #92A7AA;
}/*# sourceMappingURL=footer.css.map */