* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


/*----------------------------- HERO ----------------------------- */
.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10rem;

}


.hero-input {
    display: flex;

}

strong {
    color: #49f992;
}


.btn-setup,
.btn-login {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-image: linear-gradient(to right, #d1ef36, #49f992);
    color: black;
    border-radius: 13px;
    font-size: 16px;
    padding: 0.15rem 0.5rem;
    
}

.btn-setup:hover,
.btn-login:hover {
    background-image: linear-gradient(to right, #d1ef36, #49f992);
    color: black;
    font-weight: bolder;
}

/*----------------------------- PRICING ----------------------------- */

.price-section{
    margin-top: 5rem;
}
.pricing-left,
.pricing-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-image: linear-gradient(to bottom, #000609, #042626);
    color: #92a7aa;
    width: fit-content;
    padding: 2rem 3rem;

}


.pricing-left {
    margin-left: 22rem;
    gap: 2.5rem;
}

.pricing-right {
    margin-right: 22rem;
    gap: 1rem;
}

.pricing-right ul {
    margin-bottom: 2rem;
}
.price-subtitle{
    text-align: center;
}

h1.ant-typography,
h4.ant-typography {
    color: #92a7aa;
    margin-bottom: 0;
}

.ant-typography+h4.ant-typography {
    margin-bottom: 0;
    margin-top: 0;
}
